<div class="container">
    <br>
    <h2 class="text-center"><b>Informações Gerais</b></h2>
    <br>
    <table class="table">
        <thead>
            <tr>
                <td>Duração</td><td>ETCS</td><td>Hórario</td><td>Provas de ingresso</td><td>Nota do último colocado*</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>3 anos</td><td>180</td><td>Diurno e pós-laboral</td><td>Matemática (19); <br>Matemática (19) e Física e Química (07);</td><td>Diurno: 147,8 <br>Pós-laboral: 130,5</td>
            </tr>
        </tbody>
    </table>
    <table class="table">
        <thead>
            <tr>
                <td>Ano</td><td>Propinas**</td><td>Propinas estudantes internacionais**</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1º ano</td><td>1063.47 €</td><td>7000.00 €</td>
            </tr>
            <tr>
                <td>2º ano</td><td>1063.47 €</td><td>7000.00 €</td>
            </tr>
            <tr>
                <td>3º ano</td><td>1063.47 €</td><td>7000.00 €</td>
            </tr>
        </tbody>
    </table>
    <p>* Informação para o ano letivo de 2015/2016</p>
    <p>** Informação para o ano letivo de 2017/2018</p>
</div>