<!-- Footer -->
<footer class="footer-distributed ">
    <div class="footer-right">
        <a href="https://www.iscte-iul.pt/curso/3/licenciatura-engenharia-informatica">ISCTE</a>
    </div>
    <div class="footer-left">
        <p class="footer-links">
        
        <a href="{{ url_for('index') }}">Apresentação</a>
        .
        <a href="{{ url_for('plano_estudos') }}">Plano de estudos</a>
        .
        <a href="{{ url_for('docentes') }}">Docentes</a>
        .
        <a href="{{ url_for('empregabilidade') }}">Empregabilidade</a>
        .
        <a href="{{ url_for('laboratorios') }}">Laboratórios</a>
        .
        <a href="{{ url_for('estatisticas') }}">Estatísticas</a>
        .
        <a href="{{ url_for('manuntencao') }}">Manuntenção</a>
        </p>
        <p>André Amândio - LP/TP1 2017/2018 &copy;</p>
    </div>
</footer>
<!-- Footer finish  -->